.btn-letter-outline {
    color: #7ab0ee
}

.btn-outline-light {
    color: #fff;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #7ab0ee;
    border-color: #fff;
}

.menu {
    background-color: #7ab0ee;
}