@import url('~bootstrap/dist/css/bootstrap.min.css');

html {
    background-color: #7ab0ee;
}

div {
    font-family: 'Lato', sans-serif;
}

h3 {
    color: #3a8ff0;
    text-align: center;
}

b {
    color: #3a8ff0;
}

p {
    font-size: large;
    text-align: center;
}